<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"> 
    <style>
        body {
                /* background */
            background: #E0EAFC;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    </style>
    <title>Password</title>
</head>



<body>

    <!-- Navbar -->
    <%- include('../partials/nav') %>



    <label for="inputPassword5" class="form-label my-5">Password</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="password">
    <div id="passwordHelpBlock" class="form-text">
    Enter the secret password.
    </div>







    <!-- footer -->
    <%- include('../partials/footer') %>
    
</body>
</html>